.user {
    color:rgb(37, 36, 36);
}

.user div {
    display: inline-block;
    margin: 10px;
}

img {
    width: 100px;
}

.pageButtons {
    width: 100%;
    padding: 5px;
}
.pageButtons span {
    display: inline-block;
}
.selectedPage {

margin: 2px;
color:orange;
}

.pageButton {
    margin: 2px;

}