


.user {
    color:rgb(37, 36, 36);
}

.user div {
    display: inline-block;
    margin: 10px;
}

img {
    width: 100px;
}

.pageButtons {
    width: 100%;
    padding: 5px;
}
.pageButtons span {
    display: inline-block;
}
.selectedPage {


color:#ee4e04;
}

.pageButton, .selectedPage {
    margin: 2px;
    font-weight: 500;
}

.name {
    font-weight: 700;
    font-size: 20px;
    color:rgb(88, 82, 82);
    
}

.content {
    width: 600px;
    height: 120px;
   
}

.status span {
    color: #e4733e;
}
 .status, .name  {
     display: block;
 }
 .unfollowButton, .followButton {
    font-size: 14px;
    font-weight: 700;
    padding: 4px;
    border-radius: 7%;
    border: 2px solid rgb(53, 46, 46);
 }

 .followButton {
    background-color: rgb(190, 179, 179);
     
     color: rgb(53, 46, 46);
    
 }

 .unfollowButton {
    background-color:  #e4733e;
   
    color: rgb(255, 255, 255);
   
 }

.photo img {
     border-radius: 50%;
   
 }