.user {
    color:rgb(37, 36, 36);
}

.user div {
    display: inline-block;
    margin: 10px;
}

img {
    width: 100px;
}

.pageButtons {
    width: 100%;
    padding: 5px;
}
.pageButtons span {
    display: inline-block;
}
.selectedPage {


color:#e4733e;
}

.pageButton, .selectedPage {
    margin: 2px;
    font-weight: normal;
}

.name {
    font-weight: 700;
    font-size: 20px;
    color:rgb(88, 82, 82);
    
}

.content {
    width: 600px;
    height: 120px;
   
}

.status span {
    color: #e4733e;
}
 .status, .name  {
     display: block;
 }

 .followButton {
    background-color: #e4733e;
     border: 2px solid rgb(88, 82, 82);
     color: rgb(53, 46, 46);
     font-size: 16px;
     font-weight: 700;
     padding: 5px;
     border-radius: 7%;
 }

 .unfollowButton {
    background-color: rgb(218, 213, 213);
   
    border: 2px solid rgb(88, 82, 82);
    color: rgb(53, 46, 46);
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    border-radius: 7%; 
 }