   textarea {
       color: darkgray;
      
   }
   
   .buttons {
       display: block
   }
   
   .buttons button {
       margin: 20px;
   }

   .posts {
       color: black;
       margin: 10px;
   }

  .errors {
      border: 1px solid red;
      color: red;
    
  }