.profileInfo {
    color:  rgb(24, 23, 23);
    
}
.backImg img {
    width: 100%;
    opacity: 50%;
}
.description {
    margin-left: 30%;
}



.contacts ul li {
    color: orange;
    
}



span {
    color:   rgb(24, 23, 23);
    font-weight: 700;
}

.name {
    margin-left: 50%; 
    color:rgb(221, 115, 15);
    font-weight: 700; 
}
.aboutMe {
    color: black;
    font-style: oblique;
    font-weight: normal;
}
.photo, .name {
display: inline-block;

}

li {
    list-style-type: none;
}

.largePhoto {
    width: 600px;
    position: fixed;
}

.smallPhoto {
    width: 150px;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 50%;
}